@{
    ViewBag.Title = "Index";
}

<h1>Sample Page</h1>
<fieldset title="Signup">
    <legend>Subscribe</legend>
    <p>Sign up for our exciting newsletter. It has kittens!</p>
    @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>Name:  <input type="text" name="name"/> <br />
        Email: <input type="text" name="email" /><br />
        <input type="submit" value="Subscribe"/></p>
    }
</fieldset>
